body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
}

.menu {
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
}

.menu li {
    float: left;
    width: 200px;
}

.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: #294045;
    padding: 6px 10px;
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {background-color: #d2ad1977;}
.menu li a:active {background-color: #16a261e1;}

.menu .Exercices {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu .Exercices li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu .Exercices li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #4d5517;
}

.menu .Exercices li a:hover {
    background-color: #72d21977;
}

.menu li:hover .Exercices {
    display: block;
}
